*,
*::before,
*::after {
    box-sizing: border-box;
}

@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body {
    background: #e7f5fe;
    font-family: "Open Sans", sans-serif;
    background-image: url("https://www.transparenttextures.com/patterns/absurdity.png");
}

.search {
    width: 100%;
    position: relative;
    display: flex;
}

.searchTerm {
    width: 100%;
    border: 3px solid #bfdbf7;
    border-right: none;
    padding: 5px;
    height: 34px;
    border-radius: 5px 0 0 5px;
    outline: none;
    color: #9dbfaf;
}

.searchTerm:focus {
    color: black;
}

.searchButton {
    width: 40px;
    height: 34px;
    border: 1px solid #bfdbf7;
    background: #bfdbf7;
    text-align: center;
    color: rgb(7, 7, 7);
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px;
}

/*Resize the wrap to see the search bar change!*/
.wrap {
    width: 30%;
    position: absolute;
    top: 30%;
    left: 18.7%;
    transform: translate(-50%, -50%);
}

html {
    background-color: #e1f3f7;
}

body {
    color: #e1f3f7;
    font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0;
    padding: 1rem;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

}

img {
    height: auto;
    max-width: 100%;
    vertical-align: middle;
}

.btn {
    background-color: #1282a2;
    border: 1px solid #cccccc;
    color: #ffffff;
    padding: 0.7rem;
}

.btn--block {
    display: block;
    width: 100%;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;

}

.cards__item {
    display: flex;
    padding: 1rem;
}

@media (min-width: 40rem) {
    .cards__item {
        width: 50%;
    }
}

@media (min-width: 56rem) {
    .cards__item {
        width: 33.3333%;
    }
}

.card {
    background-color: rgb(238, 238, 238);
    border-radius: 0.25rem;
    box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.card:hover .card__image {
    filter: contrast(100%);
}

.card__content {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    padding: 1rem;
}

.card__image {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
    filter: contrast(70%);
    overflow: hidden;
    position: relative;
    transition: filter 0.5s cubic-bezier(0.43, 0.41, 0.22, 0.91);
}

.card__image::before {
    content: "";
    display: block;
    padding-top: 56.25%;
}

@media (min-width: 40rem) {
    .card__image::before {
        padding-top: 66.6%;
    }
}

.card__image--flowers {
    background-image: url(https://images.unsplash.com/photo-1546961329-78bef0414d7c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80);
}

.card__image--river {
    background-image: url(https://images.unsplash.com/photo-1519699047748-de8e457a634e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=880&q=80);
}

.card__image--record {
    background-image: url(https://images.unsplash.com/photo-1508214751196-bcfd4ca60f91?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80);
}

.card__image--fence {
    background-image: url(https://images.unsplash.com/photo-1580489944761-15a19d654956?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=761&q=80);
}

.card__title {
    color: #696969;
    font-size: 1.25rem;
    font-weight: 300;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.card__text {
    flex: 1 1 auto;
    font-size: 0.875rem;
    line-height: 1.5;
    margin-bottom: 1.25rem;
}

@import url("https://fonts.googleapis.com/css2?family=Allura&family=Poppins:wght@300&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --blue: #63B0E3;
    --dark-blue: #185D8B;
    --white: #ffffff;
    --black: #202020;
}

body {
    min-height: 100vh;
    display: grid;
    place-items: center;
    font-family: "Poppins", sans-serif;

    color: var(--black);
}

ul {
    list-style: none;

}

a {
    text-decoration: none;
    color: inherit;
}

.container {
    width: 100%;
    max-width: 1200px;
}

header {
    padding: 2em 1em;
    display: grid;
    grid-template-columns: 145px 1fr;
    align-items: center;
}

header h1 {
    font-family: "Allura", serif;
    color: var(--dark-blue);
}

header ul {
    display: flex;
}

header li {
    margin-right: 3em;
    font-size: 0.95rem;
    font-weight: bold;
}

section {
    width: 100%;
    padding: 1em;
}

section h3 {
    opacity: 0.95;
    font-family: 'Times New Roman', Times, serif;
    color: var(--dark-blue);
    font-size: 25px;
}

li.active {
    color: var(--dark-blue);
    border-bottom: 1px solid var(--dark-blue);
}
